@import "./reset.css";

@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Poppins:wght@400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  color: black;
}

.wrapper {
}

.weather_wrapper {
}

.weather {
  display: flex;
  flex-direction: column;
  column-gap: 50px;
  margin: 50px auto;
  max-width: 450px;
  background-color: rgb(148, 216, 193);
  padding: 50px;
  border-radius: 30px;
  box-shadow: 12px -12px 2px 1px rgba(0, 0, 255, 0.2);
  color: white;
}

.weather_loading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.weather_loading img {
  max-width: 50px;
}

.weather_city {
  font-weight: 700;
  font-size: 66px;
}
.weaher_status {
  font-size: 26px;
}
.weather_temp {
  font-weight: 600;
  font-size: 44px;
}
.weather_feel-like {
  font-size: 26px;
}

.labelBlock {
  max-width: 450px;
  margin: 0px auto;
  text-align: center;
}
